body {
  background-image: url("../images/darkbackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1); 
  border-radius: 12px 12px 0px 0px; 
  background-color: rgba(255, 255, 255, 0.9);
}

#header {
  position: relative;
  margin-top: 40px;
  border-radius: 12px 12px 0px 0px; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 0.2rem 2rem;
  border-radius: 50px;
  background-color: rgb(73, 116, 156);
  transition: background-color 0.3s ease;
}

 h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Courier New' , monospace;
  color: #ffffff;
}



